<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ravintolatilaus.Properties.Settings.RavintolaConnectionString"
            connectionString="Data Source=PETTERIS-PC2\SQLEXPRESSKOULU;Initial Catalog=Ravintola;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Ravintolatilaus.Properties.Settings.RavintolaConnectionStringLocalDB"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Ravintola.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>